@page "/Admin/members/"
@model App.Admin.User.IndexModel
@{
    ViewData["Title"] = "Danh sách thành viên";
}
<h2>@ViewData["Title"]</h2>

<partial name="_StatusMessage" model="@Model.StatusMessage"></partial>
<p>Tổng số thành viên <strong>@Model.totalUsers</strong></p>


<table class="table">
    <tr>
        <th>Tên thành viên</th>
        <th>Vai trò(role)</th>
        <th>Tác vụ User</th>
    </tr>
    @foreach(var user in Model.users)
    {
        <tr>
            <td>@user.UserName</td>
            <td>
                @if (string.IsNullOrEmpty(user.RoleNames))
                {
                     <a class="text-dark" asp-page="./Addrole/" asp-route-id="@user.Id">+ Thêm Role</a>

                }
                else
                {
                 <a asp-page="./Addrole/" asp-route-id="@user.Id">@user.RoleNames</a>


                }

            </td>
            <td>
                <a class="btn btn-primary"  asp-page="./SetPasswords/" asp-route-id="@user.Id">Đặt lại mật khẩu</a>


                


            </td>
        </tr>

    }
</table>
@{
    var modelPaging = new Boom.Heplers.PagingModel()
    {
        //Trang hiện tại:
        currentpage = Model.currentPage,

        @* tổng số trang: *@
        countpages = Model.countPage,
@* Url.Page("/Blog/Index", new{p = 20}) *@
        generateUrl = (int? p) => Url.Page("./Index", new {p =p})

    };
}
<partial name="_PagingBoom" model="@modelPaging"></partial>

